
<div class="Body">
        <div class="labelCAP"><h1>CAPELAS</h1></div>
    <div class="db">    
        <div class="image">
            <img src="/images/Dom-Bosco.jpeg" alt="">
        </div>
        <div class="escopo">
            <div>
                <h1>Dom Bosco</h1>
            </div>
            <div>
                <b>Dias de missa:</b> {{diasDom}}
            </div>
            <div>
                <b>Horário:</b> {{horarioDom}} horas
            </div>
            <div>
                <b>Local:</b> {{localDom}}
            </div>
        </div>
    </div>    
    
    <div class="sl">
        <div class="image">
            <img src="/images/santaL.jpeg" alt="">
        </div>
        <div class="escopo">
            <div>
                <h1>Santa Luzia</h1>
            </div>
            <div>
                <b>Dias de missa:</b> {{diasSanta}}
            </div>
            <div>
                <b>Horário:</b> {{horarioSanta}} horas
            </div>
            <div>
                <b>Local:</b> {{localSanta}} 
            </div>
            </div>
    </div>
    <div class="sj">
        <div class="image">
            <img src="/images/Saojose.jpeg" alt="">
        </div>
            <div class="escopo">
            <div>
                <h1>São José</h1>
            </div>
            <div>
                <b>Dias de missa:</b> {{diasSao}}
            </div>
            <div>
                <b> Horário: </b>{{horarioSao}} horas
            </div>
            <div>
                <b> Local:</b> {{localSao}}
            </div>
            </div>
    </div>
</div>